In [1]:
import configparser
from datetime import datetime
import pandas as pd
import os
import boto3
import json

from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [2]:
config = configparser.ConfigParser()
#Normally this file should be in ~/.aws/credentials
config.read_file(open('dl.cfg'))
print(config['AWS']['AWS_ACCESS_KEY_ID'])
print(config['AWS']['AWS_SECRET_ACCESS_KEY'])

os.environ["AWS_ACCESS_KEY_ID"]= config['AWS']['AWS_ACCESS_KEY_ID']
os.environ["AWS_SECRET_ACCESS_KEY"]= config['AWS']['AWS_SECRET_ACCESS_KEY']

AKIA3BRFRMRVSW2OEFN2
e3c1C0VQvocgcsNRrS43uB3StS4joa3jSgc35F4b

In [3]:
spark = SparkSession.builder.config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0").getOrCreate()

## Communication with the s3 AWS (SONG DATA)

In [ ]:
s3 = boto3.client(
    's3',
    aws_access_key_id=config['AWS']['AWS_ACCESS_KEY_ID'],
    aws_secret_access_key=config['AWS']['AWS_SECRET_ACCESS_KEY'],
    region_name= 'us-east-1'
)

response = s3.list_objects_v2(
        Bucket="udacity-dend",
        Prefix ='song_data/')

content=response.get('Contents')
for r in content[1:]:
    print(r.get('Key'))
    path="s3a://udacity-dend/" + r.get('Key')
    df = spark.read.json(path).drop_duplicates()
    break
df.printSchema()
df.show(5)

## Process Song Data

In [21]:
input_data = "data/" # "s3a://udacity-dend/"
song_data = input_data + 'song_data/*/*/*/*.json'
print(song_data)
# read song data file
print('hello')
df = spark.read.json(song_data).drop_duplicates()
print('ciao')

data/song_data/*/*/*/*.json
hello
ciao

In [22]:
df.printSchema()
df.show(5)

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|         artist_id|artist_latitude|     artist_location|artist_longitude|         artist_name| duration|num_songs|           song_id|               title|year|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
|ARPFHN61187FB575F6|       41.88415|         Chicago, IL|       -87.63241|         Lupe Fiasco|279.97995|        1|SOWQTQZ12A58A7B63E|Streets On Fire (...|   0|
|AR1Y2PT1187FB5B9CE|       27.94017|             Brandon|       -82.32547|         John Wesley|484.62322|        1|SOLLHMX12AB01846DC|   The Emperor Falls|   0|
|AR7G5I41187FB4CE6C|           null|     London, England|            null|            Adam Ant|233.40363|        1|SONHOTT12A8C13493C|     Something Girls|1982|
|AR10USD1187B99F3F1|           null|Burlington, Ontar...|            null|Tweeterfriendly M...|189.57016|        1|SOHKNRJ12A6701D1F8|        Drop of Rain|   0|
|ARD7TVE1187B99BFB1|           null|     California - LA|            null|              Casual|218.93179|        1|SOMZWCG12A8C13C480|    I Didn't Mean To|   0|
+------------------+---------------+--------------------+----------------+--------------------+---------+---------+------------------+--------------------+----+
only showing top 5 rows

In [23]:
# extract columns to create songs table
df.createOrReplaceTempView("songs")
df_songs = spark.sql("""SELECT DISTINCT song_id,
            title,
            artist_id, 
            year,
            duration       
            FROM songs""")
df_songs.show()

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOGNCJP12A58A80271|Do You Finally Ne...|ARB29H41187B98F0EF|1972|342.56934|
|SOFCHDR12AB01866EF|         Living Hell|AREVWGE1187B9B890A|   0|282.43546|
|SOOJPRH12A8C141995|   Loaded Like A Gun|ARBGXIG122988F409D|   0|173.19138|
|SOWTBJW12AC468AC6E|Broken-Down Merry...|ARQGYP71187FB44566|   0|151.84934|
|SOGOSOV12AF72A285E|   ¿Dónde va Chichi?|ARGUVEV1187B98BA17|1997|313.12934|
|SOTUKVB12AB0181477|   Blessed Assurance|AR7ZKHQ1187B98DD73|1993|  270.602|
|SOMVWWT12A58A7AE05|Knocked Out Of Th...|ARQ9BO41187FB5CF1F|   0|183.17016|
|SOILPQQ12AB017E82A|Sohna Nee Sohna Data|AR1ZHYZ1187FB3C717|   0|599.24853|
|SOBEBDG12A58A76D60|        Kassie Jones|ARI3BMM1187FB4255E|   0|220.78649|
|SOYMRWW12A6D4FAB14|The Moon And I (O...|ARKFYS91187B98E58F|   0| 267.7024|
|SOBCOSW12A8C13D398|  Rumba De Barcelona|AR7SMBG1187B9B9066|   0|218.38322|
|SOXVLOJ12AB0189215|     Amor De Cabaret|ARKRRTF1187B9984DA|   0|177.47546|
|SOKEJEJ12A8C13E0D0|The Urgency (LP V...|ARC43071187B990240|   0|245.21098|
|SOTTDKS12AB018D69B|It Wont Be Christmas|ARMBR4Y1187B9990EB|   0|241.47546|
|SOHKNRJ12A6701D1F8|        Drop of Rain|AR10USD1187B99F3F1|   0|189.57016|
|SOBLGCN12AB0183212|James (Hold The L...|AR47JEX1187B995D81|1985|124.86485|
|SOZVMJI12AB01808AF|     Synthetic Dream|ARNPAGP1241B9C7FD4|   0|165.69424|
|SOQHXMF12AB0182363|     Young Boy Blues|ARGSJW91187B9B1D6B|   0|218.77506|
|SOFNOQK12AB01840FC|Kutt Free (DJ Vol...|ARNNKDK1187B98BBD5|   0|407.37914|
|SOMUYGI12AB0188633|            La Culpa|ARL7K851187B99ACD2|   0|226.35057|
+------------------+--------------------+------------------+----+---------+
only showing top 20 rows

In [7]:
output_data= "data/"
pqt_folder= output_data + 'tables/'
pqt_songs= pqt_folder + 'songs.parquet'
print(pqt_songs)

data/tables/songs.parquet

In [7]:
output_data="s3a://testp4udacity/"
pqt_folder= output_data + 'tables/'
pqt_songs= pqt_folder + 'songs.parquet'
print(pqt_songs)

s3a://testp4udacity/tables/songs.parquet

In [8]:
df_songs.write.partitionBy("year","artist_id").mode("overwrite").parquet(pqt_songs)

In [24]:
df.createOrReplaceTempView("artists")
df_artist= spark.sql("""SELECT DISTINCT artist_id,
            artist_name,
            title,
            artist_location,
            artist_latitude,
            artist_longitude      
            FROM artists""")
df_artist.show()

+------------------+--------------------+--------------------+--------------------+---------------+----------------+
|         artist_id|         artist_name|               title|     artist_location|artist_latitude|artist_longitude|
+------------------+--------------------+--------------------+--------------------+---------------+----------------+
|AR8ZCNI1187B9A069B|    Planet P Project|          Pink World|                    |           null|            null|
|AREBBGV1187FB523D2|Mike Jones (Featu...|Laws Patrolling (...|         Houston, TX|           null|            null|
|ARLTWXK1187FB5A3F8|         King Curtis|A Whiter Shade Of...|      Fort Worth, TX|       32.74863|       -97.32925|
|ARNPAGP1241B9C7FD4|           lextrical|     Synthetic Dream|                    |           null|            null|
|ARHHO3O1187B989413|           Bob Azzam|      Auguri Cha Cha|                    |           null|            null|
|ARJIE2Y1187B994AB7|         Line Renaud| Der Kleine Dompfaff|                    |           null|            null|
|ARQGYP71187FB44566|        Jimmy Wakely|Broken-Down Merry...|         Mineola, AR|       34.31109|       -94.02978|
|ARP6N5A1187B99D1A3|         Mitch Ryder|   Jenny Take a Ride|       Hamtramck, MI|           null|            null|
|ARGSAFR1269FB35070|          Blingtones|Sonnerie lalaleul...|                    |           null|            null|
|AR10USD1187B99F3F1|Tweeterfriendly M...|        Drop of Rain|Burlington, Ontar...|           null|            null|
|ARD7TVE1187B99BFB1|              Casual|             OAKtown|     California - LA|           null|            null|
|AR9AWNF1187B9AB0B4|Kenny G featuring...|     Baby Come To Me|Seattle, Washingt...|           null|            null|
|ARAJPHH1187FB5566A|     The Shangri-Las|     Twist and Shout|          Queens, NY|        40.7038|       -73.83168|
|ARDNS031187B9924F0|          Tim Wilson|I Think My Wife I...|             Georgia|       32.67828|       -83.22295|
|ARH4Z031187B9A71F2|          Faye Adams|Crazy Mixed Up World|          Newark, NJ|       40.73197|       -74.17418|
|AR8IEZO1187B99055E|        Marc Shaiman|       City Slickers|                    |           null|            null|
|AR7SMBG1187B9B9066|         Los Manolos|  Rumba De Barcelona|                    |           null|            null|
|ARKRRTF1187B9984DA|    Sonora Santanera|     Amor De Cabaret|                    |           null|            null|
|ARIK43K1187B9AE54C|       Lionel Richie|Tonight Will Be A...|   Beverly Hills, CA|           null|            null|
|ARGIWFO1187B9B55B7|      Five Bolt Main|Made Like This (L...|                    |           null|            null|
+------------------+--------------------+--------------------+--------------------+---------------+----------------+
only showing top 20 rows

In [10]:
pqt_artists= pqt_folder + 'artists.parquet'
print(pqt_artists)
df_artist.write.mode("overwrite").parquet(pqt_artists)

data/tables/artists.parquet

## get data from s3 (LOG DATA)

In [10]:
s3 = boto3.client(
    's3',
    aws_access_key_id=config['AWS']['AWS_ACCESS_KEY_ID'],
    aws_secret_access_key=config['AWS']['AWS_SECRET_ACCESS_KEY'],
    region_name= 'us-east-1'
)

response = s3.list_objects_v2(
        Bucket="udacity-dend",
        Prefix ='log_data/')

content=response.get('Contents')
for r in content[1:]:
    print(r.get('Key'))
    path="s3a://udacity-dend/" + r.get('Key')
    df = spark.read.json(path)
    break
df.printSchema()
df.show(5)

log_data/2018/11/2018-11-01-events.json
root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
| artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|        song|status|           ts|           userAgent|userId|
+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
|   null|Logged In|   Walter|     M|            0|    Frye|     null| free|San Francisco-Oak...|   GET|    Home|1.540919166796E12|       38|        null|   200|1541105830796|"Mozilla/5.0 (Mac...|    39|
|   null|Logged In|   Kaylee|     F|            0| Summers|     null| free|Phoenix-Mesa-Scot...|   GET|    Home|1.540344794796E12|      139|        null|   200|1541106106796|"Mozilla/5.0 (Win...|     8|
|Des'ree|Logged In|   Kaylee|     F|            1| Summers|246.30812| free|Phoenix-Mesa-Scot...|   PUT|NextSong|1.540344794796E12|      139|You Gotta Be|   200|1541106106796|"Mozilla/5.0 (Win...|     8|
|   null|Logged In|   Kaylee|     F|            2| Summers|     null| free|Phoenix-Mesa-Scot...|   GET| Upgrade|1.540344794796E12|      139|        null|   200|1541106132796|"Mozilla/5.0 (Win...|     8|
|Mr Oizo|Logged In|   Kaylee|     F|            3| Summers|144.03873| free|Phoenix-Mesa-Scot...|   PUT|NextSong|1.540344794796E12|      139|     Flat 55|   200|1541106352796|"Mozilla/5.0 (Win...|     8|
+-------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+------------+------+-------------+--------------------+------+
only showing top 5 rows

## Process log Data

In [7]:
input_data = "data/" # "s3a://udacity-dend/"
log_data = input_data + 'log_data/*.json'
print(log_data)
# read log data file
print('hello')
df = spark.read.json(log_data).drop_duplicates()
print('ciao')

data/log_data/*.json
hello
ciao

In [8]:
df.printSchema()
df.show(5)

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|       artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|           ts|           userAgent|userId|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
|      Fat Joe|Logged In|     Kate|     F|           21| Harrell|241.34485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|Safe 2 Say [The I...|   200|1542296032796|"Mozilla/5.0 (X11...|    97|
|  Linkin Park|Logged In|     Kate|     F|           33| Harrell|259.86567| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|         My December|   200|1542299023796|"Mozilla/5.0 (X11...|    97|
|The Saturdays|Logged In|    Chloe|     F|           20|  Cuevas|176.95302| paid|San Francisco-Oak...|   PUT|NextSong|1.540940782796E12|      630|     If This Is Love|   200|1542318319796|Mozilla/5.0 (Wind...|    49|
|  Wim Mertens|Logged In|   Aleena|     F|           71|   Kirby|240.79628| paid|Waterloo-Cedar Fa...|   PUT|NextSong|1.541022995796E12|      619|          Naviamente|   200|1542321121796|Mozilla/5.0 (Maci...|    44|
|         null|Logged In|    Tegan|     F|           26|  Levine|     null| paid|Portland-South Po...|   GET|    Home|1.540794356796E12|      774|                null|   200|1542768175796|"Mozilla/5.0 (Mac...|    80|
+-------------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+-------------+--------------------+------+
only showing top 5 rows

In [9]:
df_nxt = df.page=='NextSong'
df = df[df_nxt]

In [12]:
df.createOrReplaceTempView("users")
df_user= spark.sql("""SELECT DISTINCT userId,
            firstName, 
            lastName, 
            gender, 
            level      
            FROM users""")
df_user.show()

+------+----------+---------+------+-----+
|userId| firstName| lastName|gender|level|
+------+----------+---------+------+-----+
|    98|    Jordyn|   Powell|     F| free|
|    34|    Evelin|    Ayala|     F| free|
|    85|   Kinsley|    Young|     F| paid|
|    38|    Gianna|    Jones|     F| free|
|    85|   Kinsley|    Young|     F| free|
|    37|    Jordan|    Hicks|     F| free|
|    63|      Ayla|  Johnson|     F| free|
|     6|   Cecilia|    Owens|     F| free|
|    15|      Lily|     Koch|     F| paid|
|    27|    Carlos|   Carter|     M| free|
|    89|   Kynnedi|  Sanchez|     F| free|
|    57| Katherine|      Gay|     F| free|
|    74|    Braden|   Parker|     M| free|
|    29|Jacqueline|    Lynch|     F| paid|
|    75|    Joseph|Gutierrez|     M| free|
|    61|    Samuel| Gonzalez|     M| free|
|    88|  Mohammad|Rodriguez|     M| free|
|    64|    Hannah|  Calhoun|     F| free|
|    95|      Sara|  Johnson|     F| paid|
|    15|      Lily|     Koch|     F| free|
+------+----------+---------+------+-----+
only showing top 20 rows

In [14]:
pqt_users= pqt_folder + 'users.parquet'
print(pqt_users)
df_user.write.mode("overwrite").parquet(pqt_users)

NameError: name 'pqt_folder' is not defined

In [15]:
import  pyspark.sql.functions as F
df = df.withColumn("ts",df.ts/1000)
df = df.withColumn("datetime", F.to_timestamp("ts"))
df.show(2)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|              ts|           userAgent|userId|            datetime|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+
|    Fat Joe|Logged In|     Kate|     F|           21| Harrell|241.34485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|Safe 2 Say [The I...|   200|1.542296032796E9|"Mozilla/5.0 (X11...|    97|2018-11-15 15:33:...|
|Linkin Park|Logged In|     Kate|     F|           33| Harrell|259.86567| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|         My December|   200|1.542299023796E9|"Mozilla/5.0 (X11...|    97|2018-11-15 16:23:...|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+
only showing top 2 rows

In [16]:
df = df.withColumn("hour", F.hour("datetime"))
df = df.withColumn("day", date_format(col("datetime"), "d"))
df = df.withColumn("week", date_format(col("datetime"), "w"))
df = df.withColumn("month", F.month("datetime"))
df = df.withColumn("year", date_format(col("datetime"), "y"))
df = df.withColumn("weekday", date_format(col("datetime"), "u"))
df.show(2)

+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+----+---+----+-----+----+-------+
|     artist|     auth|firstName|gender|itemInSession|lastName|   length|level|            location|method|    page|     registration|sessionId|                song|status|              ts|           userAgent|userId|            datetime|hour|day|week|month|year|weekday|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+----+---+----+-----+----+-------+
|    Fat Joe|Logged In|     Kate|     F|           21| Harrell|241.34485| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|Safe 2 Say [The I...|   200|1.542296032796E9|"Mozilla/5.0 (X11...|    97|2018-11-15 15:33:...|  15| 15|  46|   11|2018|      4|
|Linkin Park|Logged In|     Kate|     F|           33| Harrell|259.86567| paid|Lansing-East Lans...|   PUT|NextSong|1.540472624796E12|      605|         My December|   200|1.542299023796E9|"Mozilla/5.0 (X11...|    97|2018-11-15 16:23:...|  16| 15|  46|   11|2018|      4|
+-----------+---------+---------+------+-------------+--------+---------+-----+--------------------+------+--------+-----------------+---------+--------------------+------+----------------+--------------------+------+--------------------+----+---+----+-----+----+-------+
only showing top 2 rows

In [17]:
df.createOrReplaceTempView("time")
df_time= spark.sql("""SELECT DISTINCT datetime as start_time, 
            hour, 
            day,
            week,
            month, 
            year,
            weekday    
            FROM time""")
df_time.show()

+--------------------+----+---+----+-----+----+-------+
|          start_time|hour|day|week|month|year|weekday|
+--------------------+----+---+----+-----+----+-------+
|2018-11-21 03:31:...|   3| 21|  47|   11|2018|      3|
|2018-11-15 20:46:...|  20| 15|  46|   11|2018|      4|
|2018-11-29 17:45:...|  17| 29|  48|   11|2018|      4|
|2018-11-13 21:40:...|  21| 13|  46|   11|2018|      2|
|2018-11-15 11:37:...|  11| 15|  46|   11|2018|      4|
|2018-11-12 03:00:...|   3| 12|  46|   11|2018|      1|
|2018-11-13 20:02:...|  20| 13|  46|   11|2018|      2|
|2018-11-07 02:53:...|   2|  7|  45|   11|2018|      3|
|2018-11-14 04:58:...|   4| 14|  46|   11|2018|      3|
|2018-11-16 13:04:...|  13| 16|  46|   11|2018|      5|
|2018-11-13 08:49:...|   8| 13|  46|   11|2018|      2|
|2018-11-23 12:34:...|  12| 23|  47|   11|2018|      5|
|2018-11-02 13:50:...|  13|  2|  44|   11|2018|      5|
|2018-11-13 05:00:...|   5| 13|  46|   11|2018|      2|
|2018-11-30 18:28:...|  18| 30|  48|   11|2018|      5|
|2018-11-24 17:43:...|  17| 24|  47|   11|2018|      6|
|2018-11-26 15:57:...|  15| 26|  48|   11|2018|      1|
|2018-11-20 04:26:...|   4| 20|  47|   11|2018|      2|
|2018-11-12 18:47:...|  18| 12|  46|   11|2018|      1|
|2018-11-20 00:47:...|   0| 20|  47|   11|2018|      2|
+--------------------+----+---+----+-----+----+-------+
only showing top 20 rows

In [17]:
pqt_time= pqt_folder + 'time.parquet'
print(pqt_time)
df_time.write.partitionBy("year","month").mode("overwrite").parquet(pqt_time)

s3a://testp4udacity/tables/time.parquet

In [18]:
input_data = "data/" # "s3a://udacity-dend/"
log_data = input_data + 'tables/songs.parquet'
print(log_data)
# read log data file
print('hello')
df_songs=spark.read.parquet(log_data)
print('ciao')
df_songs.printSchema()
df_songs.show(5)
df_songs.createOrReplaceTempView("songs")

data/tables/songs.parquet
hello
ciao
root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

+------------------+--------------------+---------+----+------------------+
|           song_id|               title| duration|year|         artist_id|
+------------------+--------------------+---------+----+------------------+
|SOAOIBZ12AB01815BE|I Hold Your Hand ...| 43.36281|2000|ARPBNLO1187FB3D52F|
|SONYPOM12A8C13B2D7|I Think My Wife I...|186.48771|2005|ARDNS031187B9924F0|
|SODREIN12A58A7F2E5|A Whiter Shade Of...|326.00771|   0|ARLTWXK1187FB5A3F8|
|SOYMRWW12A6D4FAB14|The Moon And I (O...| 267.7024|   0|ARKFYS91187B98E58F|
|SOWQTQZ12A58A7B63E|Streets On Fire (...|279.97995|   0|ARPFHN61187FB575F6|
+------------------+--------------------+---------+----+------------------+
only showing top 5 rows

In [19]:
df = df.withColumn('songplay_id', F.monotonically_increasing_id())

In [20]:
df.createOrReplaceTempView("songplays")
df_songplays= spark.sql("""SELECT songplays.songplay_id, 
            songplays.song,
            songplays.datetime as start_time, 
            songplays.userId, 
            songplays.level, 
            songplays.sessionId, 
            songplays.location, 
            songplays.userAgent, 
            songplays.year, 
            songplays.month, 
            
            songs.song_id, 
            songs.artist_id, 
            songs.title
            FROM songplays
            JOIN songs ON songplays.song = songs.title""")
df_songplays.show()

+-----------+----+----------+------+-----+---------+--------+---------+----+-----+-------+---------+-----+
|songplay_id|song|start_time|userId|level|sessionId|location|userAgent|year|month|song_id|artist_id|title|
+-----------+----+----------+------+-----+---------+--------+---------+----+-----+-------+---------+-----+
+-----------+----+----------+------+-----+---------+--------+---------+----+-----+-------+---------+-----+

In [22]:
pqt_songplays= pqt_folder + 'songplays.parquet'
print(pqt_songplays)
df_songplays.write.partitionBy("year","month").mode("overwrite").parquet(pqt_songplays)

s3a://testp4udacity/tables/songplays.parquet